@use '@/styles/variables' as *;

.dashboardHeader {
    margin-bottom: $spacing-lg;

    @media (max-width: $screen-sm) {
        font-size: 1.5rem !important;
        margin-bottom: $spacing-md;
        text-align: center;
    }
}

.dashboardSubHeader {
    @media (max-width: $screen-sm) {
        text-align: center;
        display: block;
        margin-bottom: $spacing-lg;
    }
}

.loadingWrapper,
.errorWrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapRow {
    margin-top: $spacing-lg;

    @media (max-width: $screen-md) {
        margin-top: $spacing-md;
    }
}

.mapPlaceholder {
    height: 450px;
    background: $background-color;
    border-radius: $spacing-sm;

    @media (max-width: $screen-lg) {
        height: 400px;
    }

    @media (max-width: $screen-sm) {
        height: 300px;
    }
}