@use '@/styles/variables' as *;

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #9fb1cd 0%, #4b6ca1 100%);
    padding: $spacing-md;
}

.loginCard {
    width: 100%;
    max-width: 400px;
}

.loginHeader {
    text-align: center;
    margin-top: $spacing-sm;
    margin-bottom: $spacing-xl;
    font-weight: 700;
    letter-spacing: -0.5px;

    @media (max-width: $screen-xs) {
        margin-bottom: $spacing-md;

        h2 {
            font-size: 1.5rem !important;
        }
    }
}

.forgotPassword {
    float: right;
    color: $primary-color;

    &:hover {
        color: $primary-hover;
    }
}