@use '@/styles/variables' as *;

.adminCard {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    background: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(10px);
}